<footer class="footer">
<section class="footer__box--shop">
    <h4 class="footer__box--title">Tienda</h4>
    <nav>
      <ul class="footer__list">
        <li>Productos</li>
        <li>Cajoneras</li>
        <li>Para toda la casa</li>
        <li>Habitaciones</li>
      </ul>
    </nav>
  </section>
  <section class="footer__box--we">
    <h4 class="footer__box--title">Nosotros</h4>
    <nav>
      <ul class="footer__list">
        <li>Nuestra Guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul>
    </nav>
  </section>
  <section class="footer__box--rrss">
    <h4 class="footer__box--title">Contacto</h4>
    <!--recuerda poner email to-->
    <p>ayuda@openspaces.com Socios</p>
    <nav>
      <!--despues de poner estilo recuerda enlazarlos a la pagina de adalab-->
      <ul class=" footer__list">
        <span class="footer__red">
        <li class="red--contact"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="red--contact">
          <i class="fa-brands fa-instagram"></i
          ></i>
        </li>
        <li class="red--contact"><i class="fa-brands fa-twitter"></i></li>
      </ul>
    </nav>
  </span>
  </section>
  <div class="footer__arrow">

      <!--al presionar tiene que llevar al header-->
      <a href="#arriba"><i class="fa-solid fa-arrow-up"></i></a>
      
      
  </div>
</footer>