<footer class="footer">
<section class="footer__box--shop"> 
    <h5 class="footer__title"> <small>Tienda</small> </h4>
    <nav>
        <ul class="footer__list">
        <small><a href="https://adalab.es/"><li>Productos</li></a> 
        <li> Cajoneras</li>
        <li> Para toda la casa</li>
        <li> Habitaciones </li>
      </ul></small>
    </nav>
  </section>
  <section class="footer__box--we">
    <h5 class="footer__title"><small>Nosotros</small></h4>
    <nav>
     <small> <ul class="footer__list">
         <li> Nuestra Guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul></small>
    </nav>
  </section>
  <section class="footer__box--rrss">
    <h5 class="footer__title"><small>Contacto</small></h4> 
    <p class="footer__email"> <small> ayuda@openspaces.com Socios</p></small>
    <nav>
     
      <ul class=" footer__list">
        <span class="footer__red">
        <li class="red--contact"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="red--contact">
          <i class="fa-brands fa-instagram"></i
          ></i>
        </li>
        <li class="red--contact"><i class="fa-brands fa-twitter"></i></li>
      </ul>
    </nav>

  
  <div class="footer__arrow">
     <small><a class="footer__arrow--up" href="#arrow"><i class="fa-solid fa-arrow-up"></i></a></small>

  </div>

  </section>
  

</footer>