<footer class="footer">
<section>
    <h4 class="footer__title"> <small>Tienda</small> </h4>
    <nav>
      <ul class="footer__list">
        <a href="https://adalab.es/"><li> <small>Productos</small> </li></a> 
        <li> <small>Cajoneras</small></li>
        <li> <small>Para toda la casa</small> </li>
        <li> <small>Habitaciones</small> </li>
      </ul>
    </nav>
  </section>
  <section>
    <h4 class="footer__title">Nosotros</h4>
    <nav>
      <ul class="footer__list">
        <li> Nuestra Guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul>
    </nav>
  </section>
  <section class="footer__box--rrss">
    <h4 class="footer__title">Contacto</h4>
    <p class="footer__email"> <small> ayuda@openspaces.com </small>Socios</p>
    <nav>
     
      <ul class=" footer__list">
        <span class="footer__red">
        <li class="red--contact"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="red--contact">
          <i class="fa-brands fa-instagram"></i
          ></i>
        </li>
        <li class="red--contact"><i class="fa-brands fa-twitter"></i></li>
      </ul>
    </nav>

  
  <div class="footer__arrow">
      <a class="footer__arrow--up" href="#arrow"><i class="fa-solid fa-arrow-up"></i></a>

  </div>

  </section>
  

</footer>