<header class="header">
  <section class="header__row">
    <i class="fa-solid fa-bars"></i>

    <nav class="header__menu">
      <ul class="header__menu__ul">
        <li class="header__menu--li">Productos</li>
        <li class="header__menu--li">Colecciones</li>
        <li class="header__menu--li">Tienda</li>
        <li class="header__menu--li">Inicio</li>
      </ul>
    </nav>
    <a name="arriba"
      ><img
        class="header__logo"
        src="./assets/images/logo.png"
        title="Logo de Open Spaces"
        alt="Logo de la tienda"
    /></a>
  </section>
  <section class="header__hero">
    <h1 class="header__title">Disfruta creando espacios</h1>
    <button class="header__button">Comprar ahora</button>
  </section>
</header>
