<header class="header">
  <section>
    <nav class="header__nav">
      <ul class="header__nav__ul">
        <li class="header__nav--li"><a class="header__nav--a"
          href="https://www.getopenspaces.com/shop/entryway-shoe-rack/" title="Productos"
          target="_blank">Productos</a></li>
        <li class="header__nav--li"><a class="header__nav--a"
          href="https://www.getopenspaces.com/shop/essentials/" title="Colecciones"
          target="_blank">Colecciones</a></li>
        <li class="header__nav--li"><a class="header__nav--a"
          href="https://www.getopenspaces.com/shop/" title="Tienda"
          target="_blank">Tienda</a></li>
        <li class="header__nav--li"><a class="header__nav--a" href="https://www.getopenspaces.com/"
          title="Inicio" target="_blank">Inicio</a></li>
      </ul>
    </nav>
    <a href="https://adalab.es/">
      <div class="header__hamburguer"><i class="fa-solid fa-bars"></i></div
    ></a>
    <a name="arrow"
      ><img
        class="header__logo"
        src="./assets/images/logo.png"
        title="Logo de Open Spaces"
        alt="Logo de la tienda"
    /></a>
  </section>
  <section class="header__hero">
    <h1 class="header__title">Disfruta creando espacios</h1>
    <button class="header__button">Comprar ahora</button>
  </section>
</header>
