<section>
  <article class="design__box">
    <div class="design__box--one">
      <h2 class="title__design">Disfruta creando espacios</h2>
      <p class="p__design">
        Una línea de productos diseñados para todos tus espacios
      </p>
      <button class="button__design">Comprar ahora</button>
    </div>
    <div class="design__box--two">
      <img
        class="img__design"
        src="./assets/images/creando-espacios.jpg"
        title="Foto de cestas organizadoras de cuarto de baño"
        alt="Foto de cestas organizadoras de cuarto de baño"
      />
    </div>
  </article>
</section>
