.footer {
  background-color: $main-color;
  font-family: $font_text;
  color: $secondary-color;
  font-size: 14px;
  padding-top: 44px;
  padding-left: 80px;
}

.footer__list ul {
  display: flex;
  text-align: left;
}
.footer__list li {
  text-decoration: none;
  list-style: none;
}

.footer__title {
  margin-left: 40px;
  font-size: 20px;
}

.footer__red {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.footer__email {
  width: 100px;
}

.footer__arrow {
  position: relative;
  left: 90%;
  width: 24px;
  height: 24px;
}

.footer__arrow--up {
  color: $tertiary_color;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
