.footer {
  background-color: $main-color;
  font-family: $font_text;
  font-size: 14px;
  color: $secondary_color;
  padding: 42px 21px 10px 112px;
}
.footer__box--shop {
  padding-bottom: 20px;
}

.footer__box--we {
  padding-bottom: 20px;
}

.footer__box--rrss {
  padding-bottom: 20px;
}
.footer__list ul {
  display: flex;
  text-align: left;
}
.footer__list li {
  text-decoration: none;
  list-style: none;
  color: $secondary_color;
}

.footer__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer__red {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}

.footer__email {
  width: 100px;
}

.footer__arrow {
  position: relative;
  left: 90%;
  width: 24px;
  height: 24px;
}

.footer__arrow--up {
  color: $tertiary_color;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 60px 48px 0 100px;
  }
}

@media (min-width: 1200px) {
  .footer {
  }
}
