.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .header__row {
    display: flex;
  }

  .fa-solid {
    width: 24px;
    height: 24px;
    margin: 36px 0 136px 33px;
    color: $main-color;
    position: fixed;
  }

  .header__logo {
    width: 213px;
    height: 96px;
    margin-top: 19px;
    margin-left: 60px;
    margin-bottom: 100px;
  }

  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-family: $font-text;
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
  }

  .header__button {
    background-color: $main-color;
    font-family: $font-text;
    font-weight: 600;
    font-size: 14px;
    color: $tertiary-color;
    border-style: none;
    width: 150px;
    height: 40px;
    margin: 12px 24px 12px 24px;
  }

  .header__menu {
    font-family: $font_text;
    color: $main-color;
    display: none;

    .header__menu__ul {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
    .header__menu--li {
      padding: 0 10px 0 10px;
    }
  }

  @media (min-width: 768px) {
    .header {
      height: 100vh;
      width: 100vw;
      margin: 0 0 465px;
      padding: 39px 323px 286px 82px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .header__logo {
      display: flex;
      justify-content: center;
      margin-top: 39px;
      margin-left: 323px;
      margin-right: 82px;
    }

    .header__hero {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .header__title {
      font-size: 26px;
      text-align: left;
      width: 330px;
      margin-left: 82px;
    }

    .header__button {
      font-size: 14px;
      width: 176px;
      height: 48px;
      margin-left: 82px;
      margin-bottom: 200px;
    }
  }

  @media (min-width: 1200px) {
    .header {
      height: 100vh;
    }
    .fa-solid {
      display: none;
    }

    .header__row {
      flex-direction: row-reverse;
    }
    .header__menu {
      font-size: 10px;
      display: flex;
      margin-top: 76px;
      margin-bottom: 150px;
    }

    .header__menu--li {
      margin-left: 40px;
    }

    .header__logo {
      margin: 39px 400px 0px 93px;
    }

    .header__hero {
      margin-left: 50px;
    }
  }
}
