.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .header__row {
    display: flex;
  }

  .fa-solid {
    width: 24px;
    height: 24px;
    margin-top: 55px;
    margin-right: 43px;
    margin-bottom: 136px;
    margin-left: 33px;
    color: $main-color;
    position: fixed;
  }

  .header__logo {
    width: 213px;
    height: 96px;
    margin-top: 19px;
    margin-left: 70px;
  }

  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-family: $font-text;
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    margin-left: 60px;
  }

  .header__button {
    width: 150px;
    height: 48px;
    margin: 12px 24px 12px 24px;

    background-color: $main-color;
    border-style: none;

    font-family: $font-text;
    font-weight: 600;
    font-size: 16px;
    color: $tertiary-color;
  }

  .header__button:hover {
    background-color: $secondary_color;
    color: $main_color;
  }

  .header__menu {
    font-family: $font_text;
    color: $main-color;
    display: none;

    .header__menu__ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
    }
    .header__menu--li {
      padding: 0 10px 0 10px;
    }
  }

  @media (min-width: 768px) {
    .header__logo {
      margin-top: 39px;
      margin-right: 124px;
      margin-bottom: 229px;
      margin-left: 170px;
    }

    .header__title {
      font-size: 36px;
      width: 430px;
      margin-left: 147px;
      margin-right: 343px;
      margin-bottom: 12px;
    }

    .header__button {
      font-size: 14px;
      width: 176px;
      height: 48px;
      margin-left: 147px;
      margin-right: 601px;
      margin-bottom: 219px;
    }
  }

  @media (min-width: 1200px) {
    .fa-solid {
      display: none;
    }

    .header__row {
      flex-direction: row;
    }

    .header__menu {
      font-size: 10px;
      display: flex;
      margin-top: 76px;
      margin-bottom: 150px;
      position: fixed;
    }

    .header__logo {
      margin-top: 39px;
      margin-right: 300px;
      margin-bottom: 401px;
      margin-left: 400px;
    }

    .header__title {
      margin-right: 500px;
      margin-left: 280px;
    }

    .header__button {
      margin-right: 1296px;
      margin-left: 280px;
    }
  }
}
