.main__one {
  width: 100vw;
  height: 100h;
  padding: 41px 0 18px 0px;

  background-color: $rectangle_one;

  color: $main_color;
  font-family: $font_text;
}

.main__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.title__one {
  width: 322px;
  height: 113px;
  margin-top: 41px;
  margin-left: 45px;
  margin-bottom: 37px;
  margin-right: 45px;

  font-size: 24px;
  font-weight: 600;
  text-align: center;

  .one__uppercase {
    text-transform: uppercase;
  }
  .title__h3 {
    font-size: 20px;
  }
}

.article__table {
  width: 208px;
  font-size: 16px;
  margin-left: 95px;
  margin-bottom: 20.5px;
  grid-column-start: 1;
}

.article__reuse {
  width: 208px;
  font-size: 16px;
  margin-left: 95px;
  margin-top: 50px;
  margin-bottom: 20.5px;
  grid-column-start: 1;
}

.article__guide {
  width: 208px;
  font-size: 16px;
  margin-left: 95px;
  margin-top: 50px;
  margin-bottom: 20.5px;
  grid-column-start: 1;
}

@media (min-width: 900px) {
  .title__one {
    width: 799px;
    height: 38px;

    margin-top: 63px;
    margin-left: 53px;
  }

  .article__table {
    margin-top: 55px;
    margin-left: 50px;
    grid-column-start: 1;
  }

  .article__reuse {
    grid-column-start: 2;
  }

  .article__guide {
    grid-column-start: 3;
  }
}

@media (min-width: 1728px) {
  .title__one {
    width: 799px;
    height: 112px;

    margin-top: 42px;
    margin-right: 429px;
    margin-left: 500px;
    font-size: 36px;
    text-align: center;
  }

  .article__table {
    margin-left: 310px;
  }

  .article__reuse {
    margin-left: 216px;
  }
}
