.design__box--one {
  background-color: $rectangle_one;
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font_text;

  .title__design {
    font-size: 24px;
    text-align: center;
  }

  .p__design {
    width: 300px;
    text-align: center;
    font-size: 14px;
  }

  .button__design {
    width: 176px;
    height: 48px;
    margin: 12px 24px 12px 24px;

    background-color: $main-color;
    border-style: none;

    font-family: $font-text;
    font-weight: 600;
    font-size: 16px;
    color: $tertiary-color;
  }
}

.button__design:hover {
  background-color: $secondary_color;
  color: $main_color;
}

.design__box--two {
  width: 100%;

  .img__design {
    width: 100%;
    display: block;
  }
}
