.new-section {
  background-color: $main_color;
  color: $tertiary_color;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  text-decoration: none;
  color: $tertiary_color;
}

@media (min-width: 768px) {
  .new-section {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
  }
}
